In [24]:
import glob
import pandas as pd
pd.set_option('display.max_columns', None)

# Explore `atp_matches_<year>.csv`

In [25]:
atp_matches_2020 = pd.read_csv('tennis_atp/atp_matches_2020.csv')

In [26]:
print("\nATP Matches 2020 Information:")
print(atp_matches_2020.info())

ATP Matches 2020 Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          1462 non-null   object
 1   tourney_name        1462 non-null   object
 2   surface             1462 non-null   object
 3   draw_size           1462 non-null   int64
 4   tourney_level       1462 non-null   object
 5   tourney_date        1462 non-null   int64
 6   match_num           1462 non-null   int64
 7   winner_id           1462 non-null   int64
 8   winner_seed         578 non-null    float64
 9   winner_entry        233 non-null    object
 10  winner_name         1462 non-null   object
 11  winner_hand         1462 non-null   object
 12  winner_ht           1451 non-null   float64
 13  winner_ioc          1462 non-null   object
 14  winner_age          1462 non-null   float64
 15  loser_id            1462 non-null   int64
 16  loser_seed          325 non-null    float64
 17  loser_entry         327 non-null    object
 18  loser_name          1462 non-null   object
 19  loser_hand          1458 non-null   object
 20  loser_ht            1426 non-null   float64
 21  loser_ioc           1462 non-null   object
 22  loser_age           1462 non-null   float64
 23  score               1462 non-null   object
 24  best_of             1462 non-null   int64
 25  round               1462 non-null   object
 26  minutes             1421 non-null   float64
 27  w_ace               1415 non-null   float64
 28  w_df                1415 non-null   float64
 29  w_svpt              1415 non-null   float64
 30  w_1stIn             1415 non-null   float64
 31  w_1stWon            1415 non-null   float64
 32  w_2ndWon            1415 non-null   float64
 33  w_SvGms             1415 non-null   float64
 34  w_bpSaved           1415 non-null   float64
 35  w_bpFaced           1415 non-null   float64
 36  l_ace               1415 non-null   float64
 37  l_df                1415 non-null   float64
 38  l_svpt              1415 non-null   float64
 39  l_1stIn             1415 non-null   float64
 40  l_1stWon            1415 non-null   float64
 41  l_2ndWon            1415 non-null   float64
 42  l_SvGms             1415 non-null   float64
 43  l_bpSaved           1415 non-null   float64
 44  l_bpFaced           1415 non-null   float64
 45  winner_rank         1448 non-null   float64
 46  winner_rank_points  1448 non-null   float64
 47  loser_rank          1427 non-null   float64
 48  loser_rank_points   1427 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 559.8+ KB
None

In [27]:
print("Head of the dataframe:")
print(atp_matches_2020.head())

print("\nTail of the dataframe:")
print(atp_matches_2020.tail())

Head of the dataframe:
  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2020-8888      Atp Cup    Hard         24             A      20200106
1  2020-8888      Atp Cup    Hard         24             A      20200106
2  2020-8888      Atp Cup    Hard         24             A      20200106
3  2020-8888      Atp Cup    Hard         24             A      20200106
4  2020-8888      Atp Cup    Hard         24             A      20200106

   match_num  winner_id  winner_seed winner_entry            winner_name  \
0        300     104925          NaN          NaN         Novak Djokovic
1        299     105138          NaN          NaN  Roberto Bautista Agut
2        298     104925          NaN          NaN         Novak Djokovic
3        297     105583          NaN          NaN          Dusan Lajovic
4        296     104745          NaN          NaN           Rafael Nadal

  winner_hand  winner_ht winner_ioc  winner_age  loser_id  loser_seed  \
0           R      188.0        SRB        32.6    104745         NaN
1           R      183.0        ESP        31.7    105583         NaN
2           R      188.0        SRB        32.6    106421         NaN
3           R      180.0        SRB        29.5    111575         NaN
4           L      185.0        ESP        33.5    200282         NaN

  loser_entry       loser_name loser_hand  loser_ht loser_ioc  loser_age  \
0         NaN     Rafael Nadal          L     185.0       ESP       33.5
1         NaN    Dusan Lajovic          R     180.0       SRB       29.5
2         NaN  Daniil Medvedev          R     198.0       RUS       23.9
3         NaN  Karen Khachanov          R     198.0       RUS       23.6
4         NaN   Alex De Minaur          R     183.0       AUS       20.8

         score  best_of round  minutes  w_ace  w_df  w_svpt  w_1stIn  \
0   6-2 7-6(4)        3     F    115.0   12.0   2.0    64.0     49.0
1      7-5 6-1        3     F     97.0    2.0   1.0    59.0     44.0
2  6-1 5-7 6-4        3    SF    167.0    4.0   5.0   111.0     75.0
3   7-5 7-6(1)        3    SF    108.0    1.0   1.0    67.0     48.0
4  4-6 7-5 6-1        3    SF    133.0    5.0   3.0    84.0     61.0

   w_1stWon  w_2ndWon  w_SvGms  w_bpSaved  w_bpFaced  l_ace  l_df  l_svpt  \
0      41.0       9.0     10.0        5.0        5.0    5.0   3.0    70.0
1      29.0      10.0     10.0        3.0        5.0    2.0   1.0    57.0
2      53.0      16.0     15.0        8.0       11.0    6.0   5.0   108.0
3      38.0      14.0     12.0        0.0        0.0    9.0   3.0    79.0
4      48.0      10.0     15.0        1.0        3.0    6.0   1.0    75.0

   l_1stIn  l_1stWon  l_2ndWon  l_SvGms  l_bpSaved  l_bpFaced  winner_rank  \
0     51.0      39.0       6.0     10.0        6.0        8.0          2.0
1     35.0      21.0       6.0      9.0        5.0       10.0         10.0
2     57.0      35.0      25.0     14.0        6.0       11.0          2.0
3     54.0      39.0      14.0     12.0        0.0        1.0         34.0
4     55.0      37.0      10.0     14.0        1.0        5.0          1.0

   winner_rank_points  loser_rank  loser_rank_points
0              9055.0         1.0             9985.0
1              2335.0        34.0             1251.0
2              9055.0         5.0             5705.0
3              1251.0        17.0             1840.0
4              9985.0        18.0             1775.0

Tail of the dataframe:
     tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
1457  2020-7485      Antwerp    Hard         32             A      20201019
1458  2020-7485      Antwerp    Hard         32             A      20201019
1459  2020-7485      Antwerp    Hard         32             A      20201019
1460  2020-7485      Antwerp    Hard         32             A      20201019
1461  2020-7485      Antwerp    Hard         32             A      20201019

      match_num  winner_id  winner_seed winner_entry   winner_name  \
1457        125     105554          NaN          NaN  Daniel Evans
1458        126     200267          NaN           WC   Zizou Bergs
1459        128     126203          7.0          NaN  Taylor Fritz
1460        129     144750          NaN            Q  Lloyd Harris
1461        130     200005          NaN          NaN   Ugo Humbert

     winner_hand  winner_ht winner_ioc  winner_age  loser_id  loser_seed  \
1457           R      175.0        GBR        30.4    106099         NaN
1458           R      185.0        BEL        21.3    105077         NaN
1459           R      193.0        USA        22.9    124187         NaN
1460           R      193.0        RSA        23.6    144895         NaN
1461           L      188.0        FRA        22.3    106293         NaN

     loser_entry        loser_name loser_hand  loser_ht loser_ioc  loser_age  \
1457           Q  Salvatore Caruso          R     185.0       ITA       27.8
1458         NaN      Albert Ramos          L     188.0       ESP       32.7
1459         NaN     Reilly Opelka          R     211.0       USA       23.1
1460         NaN   Corentin Moutet          L     178.0       FRA       21.5
1461          WC  Kimmer Coppejans          R     180.0       BEL       26.6

            score  best_of round  minutes  w_ace  w_df  w_svpt  w_1stIn  \
1457  6-2 3-6 6-3        3   R32    115.0    9.0   2.0    70.0     47.0
1458      7-5 7-5        3   R32    102.0    7.0   2.0    77.0     54.0
1459   7-6(5) 6-1        3   R32     67.0   10.0   1.0    59.0     44.0
1460      7-5 6-2        3   R32     84.0    7.0   2.0    49.0     33.0
1461      6-4 6-3        3   R32     73.0    3.0   2.0    53.0     26.0

      w_1stWon  w_2ndWon  w_SvGms  w_bpSaved  w_bpFaced  l_ace  l_df  l_svpt  \
1457      36.0      14.0     13.0        1.0        3.0    4.0   1.0    77.0
1458      33.0      13.0     12.0        6.0        9.0    1.0   3.0    66.0
1459      39.0       6.0     10.0        0.0        0.0   19.0   3.0    58.0
1460      28.0      11.0     10.0        1.0        2.0    0.0   2.0    62.0
1461      24.0      17.0     10.0        3.0        3.0    2.0   0.0    49.0

      l_1stIn  l_1stWon  l_2ndWon  l_SvGms  l_bpSaved  l_bpFaced  winner_rank  \
1457     43.0      31.0      14.0     13.0        3.0        7.0         35.0
1458     45.0      27.0      10.0     12.0        4.0        9.0        528.0
1459     37.0      30.0       5.0      9.0        3.0        5.0         28.0
1460     45.0      29.0       5.0     10.0        7.0       11.0         90.0
1461     32.0      26.0       7.0      9.0        2.0        4.0         38.0

      winner_rank_points  loser_rank  loser_rank_points
1457              1384.0        79.0              802.0
1458                58.0        45.0             1165.0
1459              1670.0        33.0             1402.0
1460               748.0        74.0              838.0
1461              1306.0       172.0              353.0

In [28]:
print("ATP Matches 2020 Statistics:")
print(atp_matches_2020.describe())

ATP Matches 2020 Statistics:
         draw_size  tourney_date    match_num      winner_id  winner_seed  \
count  1462.000000  1.462000e+03  1462.000000    1462.000000   578.000000
mean     57.803010  2.020056e+07   317.791382  121983.125855     7.664360
std      43.820298  3.894934e+02   291.604987   30605.749267     7.240231
min       4.000000  2.020011e+07     1.000000  100644.000000     1.000000
25%      32.000000  2.020020e+07   214.250000  105379.000000     3.000000
50%      32.000000  2.020031e+07   278.000000  106210.000000     5.000000
75%     128.000000  2.020093e+07   292.000000  126203.750000     9.000000
max     128.000000  2.020112e+07  1701.000000  209874.000000    32.000000

         winner_ht   winner_age       loser_id  loser_seed     loser_ht  \
count  1451.000000  1462.000000    1462.000000  325.000000  1426.000000
mean    187.391454    26.911765  121264.532832    8.735385   186.352034
std       7.089655     4.703324   30112.751939    7.596954     6.915494
min     170.000000    15.800000  100644.000000    1.000000   170.000000
25%     183.000000    22.900000  105430.000000    4.000000   183.000000
50%     188.000000    26.900000  106078.000000    6.000000   185.000000
75%     193.000000    30.300000  126203.000000   11.000000   190.000000
max     211.000000    40.800000  209873.000000   32.000000   211.000000

         loser_age      best_of      minutes        w_ace         w_df  \
count  1462.000000  1462.000000  1421.000000  1415.000000  1415.000000
mean     27.252257     3.521204   118.978888     7.253004     2.681272
std       4.632911     0.878226    45.322128     5.735780     2.285687
min      16.100000     3.000000     0.000000     0.000000     0.000000
25%      23.325000     3.000000    85.000000     3.000000     1.000000
50%      27.300000     3.000000   113.000000     6.000000     2.000000
75%      30.400000     5.000000   142.000000    10.000000     4.000000
max      41.500000     5.000000   365.000000    46.000000    16.000000

            w_svpt      w_1stIn     w_1stWon     w_2ndWon      w_SvGms  \
count  1415.000000  1415.000000  1415.000000  1415.000000  1415.000000
mean     82.332862    52.008481    39.252297    16.546996    13.197173
std      30.844459    20.435290    14.359078     6.704441     4.473874
min       4.000000     3.000000     3.000000     1.000000     1.000000
25%      59.000000    36.500000    28.500000    12.000000    10.000000
50%      77.000000    49.000000    37.000000    16.000000    12.000000
75%      99.000000    63.000000    47.000000    20.000000    15.000000
max     244.000000   161.000000   102.000000    44.000000    36.000000

         w_bpSaved    w_bpFaced        l_ace         l_df       l_svpt  \
count  1415.000000  1415.000000  1415.000000  1415.000000  1415.000000
mean      3.795053     5.491873     5.345583     3.318728    85.643816
std       3.144624     4.242279     5.125305     2.546770    31.333906
min       0.000000     0.000000     0.000000     0.000000    11.000000
25%       1.000000     2.000000     2.000000     2.000000    63.000000
50%       3.000000     5.000000     4.000000     3.000000    80.000000
75%       6.000000     8.000000     7.000000     4.000000   102.000000
max      19.000000    30.000000    52.000000    15.000000   215.000000

           l_1stIn     l_1stWon     l_2ndWon      l_SvGms    l_bpSaved  \
count  1415.000000  1415.000000  1415.000000  1415.000000  1415.000000
mean     52.664311    35.047350    15.108834    12.915901     5.128622
std      21.147317    15.534918     7.030709     4.465885     3.428043
min       8.000000     2.000000     1.000000     2.000000     0.000000
25%      38.000000    24.000000    10.000000    10.000000     3.000000
50%      49.000000    33.000000    14.000000    12.000000     4.000000
75%      64.000000    43.000000    19.000000    15.000000     7.000000
max     154.000000   104.000000    43.000000    36.000000    27.000000

         l_bpFaced  winner_rank  winner_rank_points   loser_rank  \
count  1415.000000  1448.000000         1448.000000  1427.000000
mean      9.130742    76.821133         1931.919890   107.234758
std       4.392582   132.965820         2340.704825   172.371261
min       0.000000     1.000000            1.000000     1.000000
25%       6.000000    18.000000          688.250000    33.500000
50%       9.000000    44.000000         1124.000000    67.000000
75%      11.000000    87.000000         2051.250000   108.000000
max      35.000000  1671.000000        11830.000000  1752.000000

       loser_rank_points
count        1427.000000
mean         1188.539594
std          1374.026909
min             1.000000
25%           543.000000
50%           838.000000
75%          1344.000000
max         11830.000000

# Explore `atp_matches_futures_<year>.csv`

In [31]:
atp_matches_futures_2020 = pd.read_csv('tennis_atp/atp_matches_futures_2020.csv')

In [32]:
print("\nATP Matches Futures 2020 Information:")
print(atp_matches_futures_2020.info())

ATP Matches Futures 2020 Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4586 entries, 0 to 4585
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          4586 non-null   object
 1   tourney_name        4586 non-null   object
 2   surface             4586 non-null   object
 3   draw_size           4586 non-null   int64
 4   tourney_level       4586 non-null   int64
 5   tourney_date        4586 non-null   int64
 6   match_num           4586 non-null   int64
 7   winner_id           4586 non-null   int64
 8   winner_seed         1878 non-null   float64
 9   winner_entry        1091 non-null   object
 10  winner_name         4586 non-null   object
 11  winner_hand         4585 non-null   object
 12  winner_ht           1578 non-null   float64
 13  winner_ioc          4586 non-null   object
 14  winner_age          4582 non-null   float64
 15  loser_id            4586 non-null   int64
 16  loser_seed          1043 non-null   float64
 17  loser_entry         1722 non-null   object
 18  loser_name          4586 non-null   object
 19  loser_hand          4576 non-null   object
 20  loser_ht            1089 non-null   float64
 21  loser_ioc           4586 non-null   object
 22  loser_age           4554 non-null   float64
 23  score               4586 non-null   object
 24  best_of             4586 non-null   int64
 25  round               4586 non-null   object
 26  minutes             0 non-null      float64
 27  w_ace               0 non-null      float64
 28  w_df                0 non-null      float64
 29  w_svpt              0 non-null      float64
 30  w_1stIn             0 non-null      float64
 31  w_1stWon            0 non-null      float64
 32  w_2ndWon            0 non-null      float64
 33  w_SvGms             0 non-null      float64
 34  w_bpSaved           0 non-null      float64
 35  w_bpFaced           0 non-null      float64
 36  l_ace               0 non-null      float64
 37  l_df                0 non-null      float64
 38  l_svpt              0 non-null      float64
 39  l_1stIn             0 non-null      float64
 40  l_1stWon            0 non-null      float64
 41  l_2ndWon            0 non-null      float64
 42  l_SvGms             0 non-null      float64
 43  l_bpSaved           0 non-null      float64
 44  l_bpFaced           0 non-null      float64
 45  winner_rank         4391 non-null   float64
 46  winner_rank_points  4391 non-null   float64
 47  loser_rank          4128 non-null   float64
 48  loser_rank_points   4128 non-null   float64
dtypes: float64(29), int64(7), object(13)
memory usage: 1.7+ MB
None

# Explore `atp_matches_qual_chall_<year>.csv`

In [33]:
atp_matches_qual_chall_2020 = pd.read_csv('tennis_atp/atp_matches_qual_chall_2020.csv')

In [49]:
print("\nATP Matches Qualifications and Challengers 2020 Information:")
print(atp_matches_qual_chall_2020.info())

ATP Matches Qualifications and Challengers 2020 Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3288 entries, 0 to 3287
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          3288 non-null   object
 1   tourney_name        3288 non-null   object
 2   surface             3288 non-null   object
 3   draw_size           3288 non-null   int64
 4   tourney_level       3288 non-null   object
 5   tourney_date        3288 non-null   int64
 6   match_num           3288 non-null   int64
 7   winner_id           3288 non-null   int64
 8   winner_seed         1421 non-null   float64
 9   winner_entry        497 non-null    object
 10  winner_name         3288 non-null   object
 11  winner_hand         3288 non-null   object
 12  winner_ht           3000 non-null   float64
 13  winner_ioc          3288 non-null   object
 14  winner_age          3288 non-null   float64
 15  loser_id            3288 non-null   int64
 16  loser_seed          1023 non-null   float64
 17  loser_entry         746 non-null    object
 18  loser_name          3288 non-null   object
 19  loser_hand          3288 non-null   object
 20  loser_ht            2727 non-null   float64
 21  loser_ioc           3288 non-null   object
 22  loser_age           3284 non-null   float64
 23  score               3286 non-null   object
 24  best_of             3288 non-null   int64
 25  round               3288 non-null   object
 26  minutes             3259 non-null   float64
 27  w_ace               3257 non-null   float64
 28  w_df                3257 non-null   float64
 29  w_svpt              3257 non-null   float64
 30  w_1stIn             3257 non-null   float64
 31  w_1stWon            3257 non-null   float64
 32  w_2ndWon            3257 non-null   float64
 33  w_SvGms             3258 non-null   float64
 34  w_bpSaved           3257 non-null   float64
 35  w_bpFaced           3257 non-null   float64
 36  l_ace               3257 non-null   float64
 37  l_df                3257 non-null   float64
 38  l_svpt              3257 non-null   float64
 39  l_1stIn             3257 non-null   float64
 40  l_1stWon            3257 non-null   float64
 41  l_2ndWon            3257 non-null   float64
 42  l_SvGms             3258 non-null   float64
 43  l_bpSaved           3257 non-null   float64
 44  l_bpFaced           3257 non-null   float64
 45  winner_rank         3276 non-null   float64
 46  winner_rank_points  3276 non-null   float64
 47  loser_rank          3216 non-null   float64
 48  loser_rank_points   3216 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.2+ MB
None

In [51]:
print(atp_matches_qual_chall_2020['round'].unique())

['Q2' 'Q1' 'Q3' 'F' 'SF' 'QF' 'R16' 'R32' 'R64']

# Explore `atp_players.csv`

In [39]:
atp_players = pd.read_csv('tennis_atp/atp_players.csv')

In [40]:
print(atp_players.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64675 entries, 0 to 64674
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_id    64675 non-null  int64
 1   name_first   63797 non-null  object
 2   name_last    64634 non-null  object
 3   hand         64664 non-null  object
 4   dob          46325 non-null  float64
 5   ioc          64005 non-null  object
 6   height       2791 non-null   float64
 7   wikidata_id  4894 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.9+ MB
None

In [41]:
print(atp_players.head())
print(atp_players.tail())

   player_id name_first name_last hand         dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122.0  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620.0  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002.0  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011.0  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509.0  USA   188.0      Q53554
       player_id name_first  name_last hand  dob  ioc  height wikidata_id
64670     212569      Tiago  Boschmans    U  NaN  POR     NaN         NaN
64671     212570     Nikita      Filin    U  NaN  USA     NaN         NaN
64672     212571        Jim   Hendrikx    U  NaN  NED     NaN         NaN
64673     212572       Nate    Bonetto    U  NaN  USA     NaN         NaN
64674     212573         Ty    Switzer    U  NaN  USA     NaN         NaN

In [42]:
hand_unique_values = atp_players['hand'].unique()
ioc_unique_values = atp_players['ioc'].unique()

print("Unique values of 'hand' column:")
print(hand_unique_values)

print("\nUnique values of 'ioc' column:")
print(ioc_unique_values)

Unique values of 'hand' column:
['R' 'L' 'U' 'A' nan]

Unique values of 'ioc' column:
['USA' 'ECU' 'AUS' 'ITA' 'RSA' 'DEN' 'HUN' 'CHI' 'POL' 'PER' 'IND' 'SWE'
 'ESP' 'SUI' 'GER' 'ROU' 'CRO' 'JPN' 'CZE' 'RUS' 'GBR' 'BRA' 'FRA' 'ZIM'
 'SRB' 'NED' 'CAN' 'GRE' 'MEX' 'JAM' 'COL' 'ARG' 'BEL' 'NZL' 'VEN' 'EGY'
 'BOL' 'AUT' 'PAK' 'YUG' 'NGR' 'PUR' 'PAR' 'IRL' 'IRI' 'FIN' 'URU' 'ISR'
 'KOR' 'CRC' 'MAR' 'HAI' 'LAT' 'INA' 'SEN' 'LUX' 'BAH' 'SVK' 'UKR' 'PHI'
 'TUR' 'HKG' 'CUB' 'BUL' 'NOR' 'MAS' 'KEN' 'POR' 'GEO' 'THA' 'AND' 'CHN'
 'CIV' 'MKD' 'TPE' 'AHO' 'ESA' 'GUA' 'MON' 'GHA' 'SLO' 'EST' 'TRI' 'ALG'
 'DOM' 'BLR' 'UZB' 'CAF' 'ARM' 'QAT' 'BIH' 'LIB' 'LTU' 'MDA' 'KUW' 'BEN'
 'MRI' 'TUN' 'AZE' 'KAZ' 'ISL' 'UAE' 'MNE' 'SLE' 'VIE' 'CYP' 'TOG' 'SRI'
 'BAR' 'SOL' 'ARU' 'TJK' 'NAM' 'MAD' 'SYR' 'MLT' 'CAM' 'UGA' 'KGZ' 'LBA'
 'BUR' 'RHO' 'ZAM' 'BER' 'MLI' 'SGP' 'OMA' 'VAN' 'KSA' 'BRN' 'GUM' 'URS'
 'PNG' 'FIJ' 'SAM' 'COK' 'MHL' 'BRU' 'SMR' nan 'NIG' 'ECA' 'BAN' 'IRQ'
 'CAR' 'CGO' 'CMR' 'JOR' 'PAN' 'BDI' 'ISV' 'TCH' 'FRG' 'ANZ' 'BRI' 'HAW'
 'TAN' 'HON' 'SCG' 'BOT' 'CAY' 'COD' 'VIN' 'RWA' 'TKM' 'SUD' 'LCA' 'NCA'
 'GAB' 'NMI' 'LAO' 'ANG' 'LES' 'MYA' 'SUR' 'GUD' 'MOZ' 'SEY' 'CAL' 'REU'
 'GRN' 'LIE' 'SWZ' 'LBN' 'ALB' 'BIZ' 'LBR' 'ANT' 'ASA' 'ETH' 'MGL' 'CPV'
 'PLW' 'NEP' 'TKS' 'GDR' 'LEB' 'CEY' 'BIR' 'GUY' 'SIN' '?' 'ZWE' 'YEM'
 'POC' 'TTO' 'MTN' 'ITF' 'ERI' 'AFG' 'CUW' 'TGO' 'CHL' 'MDG' 'GTM' 'GLP'
 'VUT' 'MCO' 'PRY' 'MRT' 'KWT' 'NPL' 'VIR' 'TWN' 'URY' 'GRC' 'DEU']

# Explore `atp_rankings_<year>.csv`

In [44]:
atp_rankings_20s = pd.read_csv('tennis_atp/atp_rankings_20s.csv')

In [45]:
print(atp_rankings_20s.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245595 entries, 0 to 245594
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ranking_date  245595 non-null  int64
 1   rank          245595 non-null  int64
 2   player        245595 non-null  int64
 3   points        245595 non-null  int64
dtypes: int64(4)
memory usage: 7.5 MB
None

In [46]:
print(atp_rankings_20s.head())
print(atp_rankings_20s.tail())

   ranking_date  rank  player  points
0      20200106     1  104745    9985
1      20200106     2  104925    9055
2      20200106     3  103819    6590
3      20200106     4  106233    5825
4      20200106     5  106421    5705
        ranking_date  rank  player  points
245590      20221226   896  208532      15
245591      20221226   897  210320      15
245592      20221226   898  210398      15
245593      20221226   899  208866      15
245594      20221226   900  131910      15